code
  .hll
    background-color: #ffffcc
  .c
    color: #BC9458
    font-style: italic
  /* Comment */
  .err
    color: #E6E1DC
  /* Error */
  .g
    color: #E6E1DC

  /* Generic */
  .k
    color: #CC7833

  /* Keyword */
  .l
    color: #E6E1DC

  /* Literal */
  .n
    color: #E6E1DC

  /* Name */
  .o
    color: #E6E1DC

  /* Operator */
  .x
    color: #E6E1DC

  /* Other */
  .p
    color: #E6E1DC

  /* Punctuation */
  .cm
    color: #BC9458
    font-style: italic

  /* Comment.Multiline */
  .cp
    color: #CC7833

  /* Comment.Preproc */
  .c1
    color: #BC9458
    font-style: italic

  /* Comment.Single */
  .cs
    color: #BC9458
    font-style: italic

  /* Comment.Special */
  .gd
    color: #E6E1DC
    background-color: #660000

  /* Generic.Deleted */
  .ge
    color: #E6E1DC

  /* Generic.Emph */
  .gr
    color: #FFFFFF
    background-color: #990000

  /* Generic.Error */
  .gh
    color: #FFFFFF

  /* Generic.Heading */
  .gi
    color: #E6E1DC
    background-color: #144212

  /* Generic.Inserted */
  .go
    color: #E6E1DC

  /* Generic.Output */
  .gp
    color: #E6E1DC

  /* Generic.Prompt */
  .gs
    color: #E6E1DC

  /* Generic.Strong */
  .gu
    color: #FFFFFF

  /* Generic.Subheading */
  .gt
    color: #E6E1DC

  /* Generic.Traceback */
  .kc
    color: #CC7833

  /* Keyword.Constant */
  .kd
    color: #CC7833

  /* Keyword.Declaration */
  .kn
    color: #CC7833

  /* Keyword.Namespace */
  .kp
    color: #CC7833

  /* Keyword.Pseudo */
  .kr
    color: #CC7833

  /* Keyword.Reserved */
  .kt
    color: #DA4939

  /* Keyword.Type */
  .ld
    color: #E6E1DC

  /* Literal.Date */
  .m
    color: #A5C261

  /* Literal.Number */
  .s
    color: #A5C261

  /* Literal.String */
  .na
    color: #FFC66D

  /* Name.Attribute */
  .nb
    color: #E6E1DC

  /* Name.Builtin */
  .nc
    color: #E6E1DC

  /* Name.Class */
  .no
    color: #6D9CBE

  /* Name.Constant */
  .nd
    color: #E6E1DC

  /* Name.Decorator */
  .ni
    color: #E6E1DC

  /* Name.Entity */
  .ne
    color: #E6E1DC

  /* Name.Exception */
  .nf
    color: #FFC66D

  /* Name.Function */
  .nl
    color: #E6E1DC

  /* Name.Label */
  .nn
    color: #E6E1DC

  /* Name.Namespace */
  .nx
    color: #E6E1DC

  /* Name.Other */
  .py
    color: #E6E1DC

  /* Name.Property */
  .nt
    color: #CC7833

  /* Name.Tag */
  .nv
    color: #D0D0FF

  /* Name.Variable */
  .ow
    color: #E6E1DC

  /* Operator.Word */
  .w
    color: #E6E1DC

  /* Text.Whitespace */
  .mf
    color: #A5C261

  /* Literal.Number.Float */
  .mh
    color: #A5C261

  /* Literal.Number.Hex */
  .mi
    color: #A5C261

  /* Literal.Number.Integer */
  .mo
    color: #A5C261

  /* Literal.Number.Oct */
  .sb
    color: #A5C261

  /* Literal.String.Backtick */
  .sc
    color: #A5C261

  /* Literal.String.Char */
  .sd
    color: #A5C261

  /* Literal.String.Doc */
  .s2
    color: #A5C261

  /* Literal.String.Double */
  .se
    color: #A5C261

  /* Literal.String.Escape */
  .sh
    color: #A5C261

  /* Literal.String.Heredoc */
  .si
    color: #A5C261

  /* Literal.String.Interpol */
  .sx
    color: #A5C261

  /* Literal.String.Other */
  .sr
    color: #A5C261

  /* Literal.String.Regex */
  .s1
    color: #A5C261

  /* Literal.String.Single */
  .ss
    color: #A5C261

  /* Literal.String.Symbol */
  .bp
    color: #E6E1DC

  /* Name.Builtin.Pseudo */
  .vc
    color: #D0D0FF

  /* Name.Variable.Class */
  .vg
    color: #D0D0FF

  /* Name.Variable.Global */
  .vi
    color: #D0D0FF

  /* Name.Variable.Instance */
  .il
    color: #A5C261

  /* Literal.Number.Integer.Long */
