@import variables
@import mixins

$header-color: #9DBBBC
$link-color: #FC2000

+keyframes(fadeIn)
	0%
		opacity: 0
	100%
		opacity: 1

+keyframes(moveLeft)
	0%
		background-position-x: 0
	100%
		background-position-x: -5000px

+keyframes(moveRight)
	0%
		background-position-x: 0
	100%
		background-position-x: 5000px

a
	color: $link-color
	&:hover
		color: darken($link-color, 10%)
	nav li &
		&:hover
			color: $link-color

header
	background-color: $header-color
	position: relative
	margin: 0
	font: 0/0 serif
	text-shadow: none
	color: transparent
	max-height: 500px !important
	hgroup
		h1
			font-family: $proxima
			font-weight: 900
			padding-bottom: 0
			&:after
				display: none
		.hd
			position: absolute
			top: 25%
			right: 0
			bottom: 0
			left: 0
			height: 500px
			max-height: 500px !important
			background-size: cover
			background-position: 50% 50%
			background-repeat: no-repeat
			&.road	
				background-image: url(../img/posts/nest/bridge.png)
				z-index: 201
			&.cars-left
				background-image: url(../img/posts/nest/cars-left.png)
				z-index: 202
				background-repeat: repeat-x
				-webkit-animation: moveLeft 240s linear infinite
				-moz-animation: moveLeft 240s linear infinite
				animation: moveLeft 240s linear infinite
			&.cars-right
				background-image: url(../img/posts/nest/cars-right.png)
				z-index: 202
				background-repeat: repeat-x
				-webkit-animation: moveRight 240s linear infinite
				-moz-animation: moveRight 240s linear infinite
				animation: moveRight 240s linear infinite
			&.bridge
				background-image: url(../img/posts/nest/suspension.png)
				z-index: 203
			&.waves
				background-image: url(../img/posts/nest/water.png)
				background-repeat: repeat-x
				z-index: 200


@media screen and (min-width: 40em)
	header
		padding: 0
		hgroup
			position: relative
			h1
				margin: 0
			.hd
				top: 0
				background-size: contain
				&.waves
					background-size: cover