# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
Thumbs.db
.cache

# Ignore node modules
node_modules/

# Ignore Bower modules
bower_components/

*dist/*
_site/
.sass-cache/
