.resume {
  margin: 40px;
}

.resume a {
  text-decoration: underline;
}

.resume main {
  margin: 0 auto;
  max-width: 800px;
}

.resume header {
  margin-bottom: 30px;
}

.resume p {
  font-family: 'Courier', monospace;
  font-size: .9rem;
  margin: 10px 0;
}

.resume h6 {
  font-size: .8rem;
}

.resume h6 span {
  display: block;
}

.resume ul {
  margin-bottom: 20px;
}

.resume li {
  list-style-type: none !important;
  margin-bottom: 10px;
}

@media all and (min-width: 800px) {

  .resume header,
  .resume li {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .resume li h4 {
    flex: 80%;
    order: 0;
  }

  .resume li h5 {
    flex: 20%;
    order: 1;
    text-align: right;
  }

  .resume li p {
    order: 2;
  }

  .resume h6 {
    flex: 2;
    text-align: right;
  }
}

@media print {
  body {
    background: #fff !important;
    color: #000 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  @page {
    margin: 1cm !important;
  }

  .resume header {
    margin-bottom: 10px !important;
  }

  .resume ul {
    margin-bottom: 0 !important;
  }

  .resume p {
    margin: 5px 0 !important;
  }

  .resume li {
    margin-bottom: 5px !important;
  }

  h1 {
    font-size: 18pt !important;
  }

  h2,
  h3,
  h4 {
    font-size: 9pt !important;
    line-height: 13pt !important;
  }

  h6,
  p {
    font-family: Arial, Helvetica, sans-serif !important;
  }

  h5,
  h6 {
    font-size: 6pt !important;
    line-height: 10pt !important;
  }

  p {
    font-size: 7pt !important;
    line-height: 11pt !important;
  }

  a,
  table,
  pre {
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700 !important;
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  a:link,
  a:visited,
  a {
    text-decoration: none;
  }

  .barackobama,
  #publications,
  #connect {
    display: none !important;
  }

  .resume header,
  .resume li {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .resume li h4 {
    flex: 80%;
    order: 0;
  }

  .resume li h5 {
    flex: 20%;
    order: 1;
    text-align: right;
  }

  .resume li p {
    order: 2;
  }

  .resume h6 {
    flex: 2;
    text-align: right;
  }
}