---
layout: base
additional_css: "resume.min.css"
body_class: "resume"
---

<main>
  <header>
    <h1>{{site.data.meta.title}}</h1>
    <h6>
      <span class="pronouns">{{ site.data.resume.pronouns }}</span>
      <span class="contact">{{ site.data.resume.email }}</span>
    </h6>
    <p>{{ site.data.resume.introduction }}</p>
  </header>

  <section id="experience">
    <h3>{{ site.data.resume.experience }}</h3>
    {% for position in site.data.resume.positions %}
    <li class="{{ position.class }}">
      <h5>{{ position.duration }}</h5>
      <h4><a href="{{ position.url }}">{{ position.company }}</a>: {{ position.role }}</h4>
      {% for paragraph in position.description %}
      <p>{{ paragraph }}</p>
      {% endfor %}
    </li>
    {% endfor %}
  </section>

  <section id="education">
    <h3>{{ site.data.resume.education }}</h3>
    {% for school in site.data.resume.schools %}
    <li>
      <h5>{{ school.duration }}</h5>
      <h4>{{ school.name }} &mdash; {{ school.diploma }}</h4>
    </li>
    {% endfor %}
  </section>

  <section id="publications">
    <h3>{{ site.data.resume.publications }}</h3>
    {% for article in site.data.resume.articles %}
    <li>
      <a href="{{ article.url }}">{{ article.title }}</a>
    </li>
    {% endfor %}
  </section>

  {% include connect.html %}
</main>