/* Begin Reset */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body::-moz-selection,
body::selection,
html::-moz-selection,
html::selection {
    background: #ff0
}

/* End Reset */

em {
    font-style: italic;
}

:root {
    --black: #111419;
    --gray: #8d949e;
    --lightgray: #ddd;
    --white: #eee;
}

body {
    background-color: var(--white);
    box-sizing: border-box;
    color: var(--black);
    font-size: 62.5%;
    margin: 10%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

main {
    font-family: 'Courier', monospace;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.4rem;
    max-width: 420px;
}

main a {
    color: var(--black);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main a.no-hover:hover {
    text-decoration: none;
}

header {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Crimson Text', serif;
}

h1 {
    display: inline;
    font-weight: 500;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2;
}

h3 {
    border-bottom: 1px solid var(--black);
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.6;
}

ul {
    margin-bottom: 10px;
}

.spacer {
    color: var(--gray);
}

.date {
    font-weight: 600;
}

#connect {
    margin-top: 20px;
}

#connect li {
    display: inline;
}

#connect li:not(:last-child)::after {
    color: var(--gray);
    content: '\00B7';
}

/* Resume */

.resume {
    margin: 40px;
}

.resume a {
    text-decoration: underline;
}

.resume main {
    margin: 0 auto;
    max-width: 800px;
}

.resume header {
    margin-bottom: 40px;
}

.resume h2 {
    margin-top: 20px;
}

p {
    font-family: 'Courier', monospace;
    font-size: 0.9rem;
    margin: 10px 0;
}

.pronouns {
    font-size: 1rem;
}

.pronouns::before {
    color: var(--gray);
    content: '\00B7  ';
}


#experience li:not(:first-child) {
    margin-bottom: 30px;
}

.sabbatical {
    border-top: 1px solid var(--lightgray);
    border-bottom: 1px solid var(--lightgray);
    margin: 20px 0;
    padding: 5px;
    text-align: center;
}