<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.data.meta.title }}{% if include.subtitle %} : {% include.subtitle %}{% endif %} </title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="preload stylesheet" as="style">
  <style>a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}body::-moz-selection,body::selection,html::-moz-selection,html::selection{background:#ff0}em{font-style:italic}</style>
  <link href="{{ site.url }}/style.min.css" rel="preload stylesheet" as="style">
  {% if additional_css %}<link href="{{include.additional_css}}" rel="preload stylesheet" as="style">{% endif %}
  <meta name="author" content="{{ site.data.meta.author }}">
  <meta name="description" content="{{ site.data.meta.description }}">
  <link rel="author" href="https://plus.google.com/112822764971954618962">
  <link rel="canonical" href="{{ site.url }}/">
  <link type="text/plain" rel="author" href="{{ site.url }}/humans.txt">
  <meta itemprop="name" content="{{ site.data.meta.author }}">
  <meta itemprop="description" content="{{ site.data.meta.description }}">
  <meta itemprop="image" content="{{ site.url }}/beard.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
</head>

