<ul id="social" role="menu">
	<li role="menuitem"><a href="https://rdio.com/people/jeffreylouden" title="Jeffrey Louden on Rdio"><span>rdio.com/</span>jeffreylouden</a></li>
	<li role="menuitem"><a href="https://github.com/jeffreylouden" title="Jeffrey Louden on GitHub"><span>github.com/</span>jeffreylouden</a></li>
	<li role="menuitem"><a href="https://twitter.com/jeffreylouden" title="Jeffrey Louden on Twitter"><span>twitter.com/</span>jeffreylouden</a></li>
	<li role="menuitem"><a href="https://instagram.com/jeffreylouden" title="Jeffrey Louden on Instagram"><span>instagram.com/</span>jeffreylouden</a></li>
</ul>