html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrap {
  max-width: 200px;
  padding: 0 10px;
  margin: 0 auto;
  clear: both;
}
body {
  font-family: "proxima-nova-1", "proxima-nova-2", helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #0D3630;
  background: #fff;
}
body a {
  color: #36E3CC;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
body a:hover {
  color: #bbb;
}
body section {
  margin-top: 50px;
  -webkit-animation: 2s ease;
  -moz-animation: 2s ease;
  -ms-animation: 2s ease;
  -o-animation: 2s ease;
  animation: 2s ease;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
body section header {
  font-family: "kulturista-web-1", "kulturista-web-2", helvetica, sans-serif;
  padding: 10px 0;
  text-align: center;
  width: 200px;
  margin: 20px auto 0;
}
body section header i {
  display: block;
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  color: #36E3CC;
  position: relative;
}
body section header i:before {
  content: '';
  width: 60px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  border-top: 1px solid #999;
}
body section header i:after {
  content: '';
  width: 60px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  border-top: 1px solid #999;
}
body section header h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 10px 0;
}
body section nav {
  padding: 0 0 20px;
}
body section nav ul {
  overflow: hidden;
}
body section nav ul li {
  float: none;
  width: 97.8723404%;
  margin: 0 01.0638298% 40px;
  -webkit-animation: 2s ease;
  -moz-animation: 2s ease;
  -ms-animation: 2s ease;
  -o-animation: 2s ease;
  animation: 2s ease;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
}
body section nav ul li header {
  text-align: center;
  margin: 0 auto 10px;
  padding: 0;
  border: none;
}
body section nav ul li header h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
body section nav ul li header h2:before {
  content: '';
  width: 100px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  border-top: 1px solid #ccc;
}
body section nav ul li header h2:after {
  content: '';
  width: 100px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  border-top: 1px solid #ccc;
}
body section nav ul li p {
  margin-bottom: 20px;
}
body section nav ul li aside ul li p {
  margin: 0;
}
body section nav ul li aside ul li:first-child {
  margin: 0 01.0638298% 0 0;
}
body section nav ul li aside ul li:first-child.tweet_first {
  width: 100%;
  margin: 0;
}
body section nav ul li aside ul li:first-child.tweet_first p.tweet_time {
  margin: 5px 0 0;
  font-size: 85%;
}
body section ol li {
  margin: 5px 0;
  text-align: center;
}
body section ol li a {
  color: #777;
}
body section footer {
  color: #666;
  font-size: 85%;
  text-align: center;
}
body section footer p {
  margin: 10px 0;
}
body section footer p a {
  color: #999;
}
/* @media all and (min-width:768px) {

	body {
		section {
			margin-top: 50px;
			-webkit-animation: 2s ease;
			-moz-animation: 2s ease;
			-ms-animation: 2s ease;
			-o-animation: 2s ease;
			animation: 2s ease;
			-webkit-transition: all .3s linear;
			-moz-transition: all .3s linear;
			transition: all .3s linear;
			nav {
				ul {
					li {
						float: left;
						width: 22.8723404%;
						margin: 0 01.0638298%;
						-webkit-animation: 2s ease;
						-moz-animation: 2s ease;
						-ms-animation: 2s ease;
						-o-animation: 2s ease;
						animation: 2s ease;
						-webkit-transition: all .5s linear;
						-moz-transition: all .5s linear;
						transition: all .5s linear;

						aside {
							ul {
								li:first-child {
									&.tweet_first {
										width:100%;
									}
								}
							}
						}

						ol {
							li { 
								display: block;
							}
						}
					}

					li:first-child {
						width: 45.7446809%;
						margin: 0 01.0638298% 0 0;
					}					

					li:last-child {
						margin: 0 0 0 01.0638298%;
					}
				}
			}	
		}	
	}
	
} */
.oldie .wrap {
  width: 940px;
}
