html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

.wrap {
	max-width:940px;
	padding: 0 10px;
	margin: 0 auto;
	clear: both;
}

body {
	font-family: "proxima-nova-1","proxima-nova-2", helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	color:#231f20;
	background: url('../img/bg.jpg');
	
	a {
		color: #EF3E42;
		text-decoration:none;
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		transition: all .3s linear;
	}

	a:hover {
		color:#bbb;
	}
	
	section {
		margin-top: 0px;
		-webkit-animation: 2s ease;
	   	-moz-animation: 2s ease;
	    -ms-animation: 2s ease;
	    -o-animation: 2s ease;
	    animation: 2s ease;
	    -webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		transition: all .3s linear;

		header {
			padding: 10px 0;	

			h1 {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 600;
				text-shadow: 2px 2px 1px white;

				i {
					font-style:normal;
					color: #EF3E42;	
				}
			}
		}			
		nav {
			padding: 20px 0;
			background-color: rgba(250, 250, 250, .33);

			ul {
				overflow: hidden;

				li {
					float: none;
					width: 97.8723404%;
					margin: 0 01.0638298% 40px;
					-webkit-animation: 2s ease;
					-moz-animation: 2s ease;
					-ms-animation: 2s ease;
					-o-animation: 2s ease;
					animation: 2s ease;
					-webkit-transition: all .5s linear;
					-moz-transition: all .5s linear;
					transition: all .5s linear;
					
					header {
							margin: 0 0 10px;
							padding: 0;
							border:none;

						h2 {
							text-transform: uppercase;
							letter-spacing: 2px;
							font-weight: 600;
							text-shadow: 2px 2px 1px white;
						}
					}

					p {
						margin-bottom: 20px;
					}

					aside {
						ul {
							li {

								p {
									margin: 0;
								}
							}

							li:first-child {
								margin: 0 01.0638298% 0 0;

								&.tweet_first {
									width:100%;
									margin:0;

									p {
										&.tweet_time {
											margin: 5px 0 0;
											font-size: 85%;
										}
									}
								}
							}
						}
					}

					ol {
						li {
							float:none;
							display: inline;
							margin:0 5px 0 0;

							a {
								color:#777;
							}
						}
					}
				}
			}
		}

		footer {
			color:#666;
			font-size: 85%;
			text-shadow: 1px 1px 1px white;
			
			p {
				margin: 10px 0;

				a {
					color:#999;
				}

			}
		}	
	}	
}

@media all and (min-width:768px) {

	body {
		section {
			margin-top: 100px;
			-webkit-animation: 2s ease;
			-moz-animation: 2s ease;
			-ms-animation: 2s ease;
			-o-animation: 2s ease;
			animation: 2s ease;
			-webkit-transition: all .3s linear;
			-moz-transition: all .3s linear;
			transition: all .3s linear;
			nav {
				ul {
					li {
						float: left;
						width: 22.8723404%;
						margin: 0 01.0638298%;
						-webkit-animation: 2s ease;
						-moz-animation: 2s ease;
						-ms-animation: 2s ease;
						-o-animation: 2s ease;
						animation: 2s ease;
						-webkit-transition: all .5s linear;
						-moz-transition: all .5s linear;
						transition: all .5s linear;

						aside {
							ul {
								li:first-child {
									&.tweet_first {
										width:100%;
									}
								}
							}
						}

						ol {
							li { 
								display: block;
							}
						}
					}

					li:first-child {
						width: 45.7446809%;
						margin: 0 01.0638298% 0 0;
					}					

					li:last-child {
						margin: 0 0 0 01.0638298%;
					}
				}
			}	
		}	
	}
	
}

.oldie {
	.wrap {
		width: 940px;
	}
}
