{% include header.html %}

	<figure>
		<figcaption>
			<h1>Jeffrey Louden</h1>
			<p>In 2012, I was working tirelessly as Lead Developer of BarackObama.com. I spent my days and nights buried in politics and staring at screens full of HTML, CSS, and Javascript. <a href="http://www.youtube.com/watch?v=Wk17f6_4iW8" title="President Obama's Election Night Victory Speech" class="modal">We won</a>. In 2013, I've been assembling an incredible team and building amazing things at <a href="http://www.newyorker.com" title="The New Yorker">The&nbsp;New&nbsp;Yorker</a>.</p>
		</figcaption>
		<i>Photo by <a href="http://www.danlubbers.com" title="Dan Lubbers Photographs">Dan Lubbers</a></i>
	</figure>

 	<section role="main" id="main">
		<ul id="experience" class="resume">
			<li>
				<aside>
					<b class="start">jan 2013</b>
					<b class="end">present</b>
				</aside>
				<article>
					<h3>Technical Lead</h3>
					<h4>The New Yorker</h4>
					<p>Responsible for technical operations and development of all digital products including newyorker.com, native mobile applications, and third party integration points.</p>
					<p>Responsible for all technical coordination between The New Yorker and its parent corporation, Conde Nast. Including, partnerships with company-wide DevOps, Tech, Design, Analytics, Advertising Operations, and Consumer Marketing.</p>
					<p>Collaborates with magazine leadership, project, product, and internal departments to set technical vision and develop technical roadmaps, including a complete re-architecting and new technical vision for the forthcoming replatforming and redesign of newyorker.com</p>
					<p>Established new in-house tech team, managing four developers.</p>
				</article>
			</li> 
			<li>
				<aside>
					<b class="start">sep 2011</b>
					<b class="end">jan 2013</b>
				</aside>
				<article>
					<h3>Lead Developer, BarackObama.com</h3>
					<h4>Obama for America</h4>
					<p>Developed and supervised the daily operations of the largest, and first responsive, presidential campaign website in history with over 350 million page views.</p>
					<p>Leveraged A/B testing, user focus groups, web analytics reports, SEO optimizations and usability enhancements to improve ROI including an estimated 161% in acquisition conversation rate.</p>
					<p>Managed five developers with a variety of specialities and expertise, responsible for the creation and maintenance of all voter persuasion projects for BarackObama.com.</p>
					<p>Created and maintained documentation, best practices, and coding standards for a team of 20 developers.</p>
					<p>Collaborated with stakeholders, project managers, designers, devops engineers and user experience engineers to translate the goals of the campaign into world-class interactive experiences such as the Affordable Care Act Tool and Young Americans for Obama.</p>
					<p>Led the broadest implementation of custom Facebook Open Graph actions which published over 700,000 unique actions.</p>
				</article>
			</li>
		</ul>
		<ul id="education" class="resume">
			<li>
				<aside>
					<b class="start">jan 2005</b>
					<b class="end">jan 2007</b>
				</aside>
				<article>
					<h3>Certification in Music Technology and Production</h3>
					<h4>Berklee College of Music</h4>
				</article>
			</li>
			<li>
				<aside>
					<b class="start">aug 2001</b>
					<b class="end">may 2005</b>
				</aside>
				<article>
					<h3>Bachelor of Science, Information Technology</h3>
					<h4>Florida State University</h4>
				</article>
			</li>
		</ul>
	</section>
	
{% include footer.html %}
