---
layout: archive
title: Articles
---
	{% for post in site.posts %}
	{% capture relative_path %}{{ post.url | slugify | remove:'index.html' | remove:'.html' | replace:'404','' | replace:'/','' }}{% endcapture %}
		<section>
			<h3><a href="{{ site.url }}{{ relative_path }}" title="{{ post.title }}">{{ post.title }}</a></h3>
			{% if post.preview %}
				<a href="{{ site.url }}{{ relative_path }}" title="{{ post.title }}" class="preview">
					<img src="../img/posts/{{ post.preview }}" alt="{{ post.title }}" class="preview" />
				</a>
			{% else %}
				<p>{{ post.intro }}</p>
			{% endif %}
		</section>
	{% endfor %}